<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96527163780-a8bmq3ijq9p334bsitfo065126ttaqpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96527163780-a8bmq3ijq9p334bsitfo065126ttaqpu</string>
	<key>API_KEY</key>
	<string>AIzaSyCLkriX05NMwZN9AbGJVV490GdmPR2FLes</string>
	<key>GCM_SENDER_ID</key>
	<string>96527163780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-fa561</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-fa561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96527163780:ios:96a59320b87f882e0e7dd1</string>
	<key>DATABASE_URL</key>
	<string>https://zoom-clone-fa561-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>